
<div class="ui two column middle aligned relaxed grid basic segment">
  
  <div class="ui center aligned column">
    <div class="ui segment" id="checkIn" style="min-height: 150px;">
	    <h4 class="ui header">Out Riding</h4>
	  		<div class="ui segment" id="draggable1">
	  			<p>Ross</p>
	  		</div>
	  		<div class="ui segment" id="draggable2">
	  			<p>Levi</p>
	  		</div>
    </div>
  </div> 
  
  <!-- Middle Divider 
  <div class="ui vertical divider">
  </div> -->
  
  <div class="center aligned column">
    <div class="ui segment" id="checkOut" style="min-height: 150px; z-index: -1;">
			<h4 class="ui header">Out Riding</h4>

    </div>
  </div>
</div>

	
<script>
$(function() {
  $('[id^="draggable"]').draggable({
  	grid: [ 20, 20 ],
  	snap: true,
  });
  $( "#checkOut" ).droppable({
    drop: function( event, ui ) {
      $( this )
        .addClass( "ui-state-highlight" )
        .find( "p" )
          .html( "Dropped!" );
    }
  });
});
</script>
